{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    {{ block("logged_status", "logged.html.twig") }}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        <br/>
        <a class="btn btn-lg btn-primary" href="{{ url('users') }}">
            User list
        </a>
    {% endif %}
{% endblock %}